body {
    width: 100vw;
    height: 1000vh;
    overflow-x: hidden;
    margin: 0;
    background-color: #ffffda;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='105' height='105' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23FFFBD3' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
    background-attachment: fixed;
}

.navbar a {
    text-decoration: none;
}

#navbuttons {
    display: inline;
}

li button {
    color: rgb(0, 0, 0);
    border-radius: 4px;
    border: solid 2px rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    z-index: 10;
    user-select: none;
    box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.322);
    transition: 0.1s ease-out;
}

#about {
    background-color: burlywood;
}

#languages {
    background-color: rgb(160, 222, 135);
}

#projects {
    background-color: rgb(135, 222, 215);
}

li button:hover {
    transform: translateY(3px);
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.322);
    filter: brightness(0.9);
}

li button:active {
    transform: translateY(6px);
    filter: brightness(0.8);
    box-shadow: 0px 0px 0px rgb(124, 124, 124);
}

#title {
    background-color: red;
    letter-spacing: 10px;
    color: rgb(0, 0, 0);
    font-size: 100px;
    line-height: 0px;
    text-align: center;
}

.navbar {
    display: block;
    position: fixed;
    list-style-type: none;
    margin: 0;
    top: -17px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    height: 100%;
    width: min-content;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 224, 195);
    transition: 0.2s ease-out;
    left: -120;
}

.star {
    fill: rgba(255, 255, 255, 0.575);
    width: 20px;
    height: 20px;
    z-index: 0;
}

* {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 0;
}

.hseparator {
    border: solid 2px black;
    background-color: black;
}

.maincontent {
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 60vw;
    height: fit-content;
    padding-bottom: 15px;
    background-color: transparent;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
}

#iconmenu {
    user-select: none;
    top: 10px;
    position: fixed;
    transition: 0.2s ease-out;
    left: 10px;
    background-color: transparent;
    border: transparent;
}

a {
    color: black;
}

h3 {
    font-weight: 300;
}

.vseparator {
    width: 0px;
    height: 630px;
    border: solid 1px black;
    background-color: black;
}

.timeline {
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: rgba(255, 0, 0, 0);
    gap: 10px;
}

.left {
    background-color: transparent;
    width: 50%;
}

.right {
    background-color: transparent;
    width: 50%;
    word-wrap: break-word;
}

br {
    user-select: none;
}

img {
    border: solid 2px black;
    border-radius: 6px;
    width: 250;
    height: 250;
    object-fit: cover;
    object-position: center;
    margin-right: 10px;
}

img:hover {
    filter: brightness(0.95);
}
