body {
    background: linear-gradient(rgb(193, 243, 255), rgb(168, 238, 255));
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Grandstander", serif;
    user-select: none;
    font-weight: 100;
}

#object {
    filter: drop-shadow(10px 10px 3px #00000028);
    position: absolute;
    left: 10%;
    width: 3.5vw;
    height: auto;
    transition: transform 0.75s ease;
}

.pipe {
    filter: drop-shadow(10px 10px 3px #00000028);
    position: absolute;
    right: -10%;
    width: 5vw;
    background: rgb(63, 165, 196);
    animation-name: pipemove;
    animation-timing-function: linear;
    animation-duration: 4s;
}

#menu {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.315);
    margin: auto;
    width: 20vw;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    justify-items: center;
}

button {
    border-radius: 5px;
    font-family: inherit;
    font-size: 20px;
    text-align: center;
    width: 100px;
    height: 30px;
    border: 3px solid black;
    background-color: rgb(63, 165, 196);
    font-weight: bold;
    margin: 10px;
    transition: background-color 0.3s ease, scale 0.3s ease, border-radius 0.3s ease;
    position: relative;
}

button:hover {
    scale: 1.1;
    border-radius: 10px;
    background-color: rgb(75, 193, 230);
}

#menutux {
    width: 50px;
    height: auto;
}

@keyframes pipemove {
    from {
        right: -10%;
    }

    to {
        right: 100%;
    }
}

#scorecounter {
    position: absolute;
    margin: 10px;
    font-weight: bold;
    font-size: 30px;
    top: 0;
    left: 0;
    z-index: 9999;
    user-select: none;
}

@media (max-width: 600px) {
    #menu {
        width: 80%;
        padding: 10px;
    }

    button {
        width: 80px;
        font-size: 16px;
    }

    #object {
        width: 60px;
        left: 5%;
    }

    .pipe {
        width: 50px;
    }

    #scorecounter {
        font-size: 24px;
    }
}
