body {
	margin: 0;
	overflow: hidden;
	background-color: black;
	user-select: none;
}

#canvas {
	z-index: 100;
}

.game {
	position: absolute;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.11);
	top: 0px;
	width: 100vw;
	height: 60px;
}

#score {
	line-height: 0px;
	position: absolute;
	z-index: 1;
	top: 15px;
	font-size: 24px;
	left: 10px;
	color: #ffffffb9;
}

.material-symbols-outlined {
	color: #ff0000;
	filter: drop-shadow(0 0 10px red);
}

.lives {
	position: absolute;
	left: 50vw;
	top: 18px;
	font-variation-settings:
		'FILL' 1,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24
}

#playicon,
#backicon,
#leaderboardicon,
#muteicon,
#shopicon,
#coinicon {
	color: white;
	font-size: 40px;
	line-height: 0;
	top: 50%;
	filter: none;
}

#background {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.5);
	z-index: -1;
	filter: brightness(50%);
}


.menu,
.credits,
.leaderboard,
.shop {
	position: absolute;
	display: flex;
	flex-direction: column;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.5);
	background-color: rgba(255, 255, 255, 0.082);
	width: min(100vw, 100vh);
	height: 70vh;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	box-shadow: 0px 0px 40px #00ffff;
	border: solid 3px #00ffff;
}

#gametitle,
#creditstitle,
#leaderboardtitle {
	top: 10px;
	font-size: min(10vw, 10vh);
	color: white;
	top: 5%;
	line-height: 0;
	letter-spacing: 1px;
}

#playbutton,
#creditsbutton,
#leaderboardbutton,
#logoutbutton,
#shopbutton,
#mutebutton,
.accountbuttons,
.backbutton,
#jumpshop button,
#moveshop button {
	display: flex;
	width: 70%;
	height: 50px;
	font-size: min(5vw, 5vh);
	background-color: #00ffff00;
	border: solid 3px #00ffff;
	color: white;
	border-radius: 2px;
	justify-content: center;
	align-items: center;
	margin-bottom: 5px;
}

#playbutton:hover,
#creditsbutton:hover,
#leaderboardbutton:hover,
#logoutbutton:hover,
#shopbutton:hover,
#mutebutton:hover,
.backbutton:hover,
.accountbuttons:hover,
#jumpshop button:hover,
#moveshop button:hover {
	background-color: #00ffff25;
}

#highscore,
#prevscore,
#coinamount,
.creditstext {
	font-size: min(5vw, 5vh);
	color: white;
	line-height: 0;
}

* {
	font-family: "Sarpanch", serif;
	font-weight: 300;
}

.creditstext {
	font-size: min(4vw, 4vh);
}

a {
	color: white;
}

#playbutton {
	margin-bottom: 0px;
	width: 69%;
}

.backbutton {
	position: fixed;
	top: 5px;
	left: 5px;
	width: min(25vw, 25vh)
}

.leaderboard {
	overflow-y: auto;
	overflow-x: hidden;
}

.accountbuttonsholder {
	display: flex;
	flex-direction: row;
	width: 71%;
	justify-content: center;
	align-items: center;
}

.accountbuttons {
	width: 100%;
	margin: 5px;
}

p {
	font-size: min(5vw, 5vh);
	color: white;
	line-height: 0;
}

#mutebutton {
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 50px;
	height: 50px;
	margin: 0;
}

.shopitems {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: 50%;
	background-color: rgba(255, 255, 255, 0);
}

.jumppower,
.movepower {
	display: flex;
	color: white;
	font-size: 40px;
	width: 95%;
	height: 30%;
	background-color: rgba(0, 255, 255, 0.192);
	align-items: center;
	padding-left: 10px;
	margin-bottom: 5px;
}

.shoptypetitle {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: auto;
	justify-content: flex-start;
}

#jumpshop,
#moveshop {
	display: flex;
	flex-direction: row;
	position: absolute;
	width: 160px;
	height: 60px;
	right: min(15vw, 15vh);
	background-color: rgba(255, 255, 255, 0);
	align-items: center;
	justify-content: space-between;
}

#jumpshop button,
#moveshop button {
	width: 40px;
	height: 40px;
	margin: 0;
}

.shop h3 {
	margin: 0;
	line-height: 0;
	font-size: min(5vw, 5vh);
}

#loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	text-shadow: #00ffff 0 0 5px;
	font-size: 50px;
}

/* * {
	cursor: url('data:image/svg+xml,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2228%22%20height=%2228%22%20viewBox=%220%200%2024%2024%22%3E%3Cpath%20fill=%22%23FFFFFF%22%20stroke=%22%2300FFFF%22%20stroke-width=%221%22%20d=%22M5.5%203.21V20.8c0%20.45.54.67.85.35l4.86-4.86a.5.5%200%200%201%20.35-.15h6.87a.5.5%200%200%200%20.35-.85L6.35%202.85a.5.5%200%200%200-.85.35Z%22%3E%3C/path%3E%3C/svg%3E') 16 16, auto;
}

button:hover,
#playbutton:hover {
	cursor: url('data:image/svg+xml,%3Csvg%20class=%22cursor%22%20xmlns=%22http://www.w3.org/2000/svg%22%20width=%2228%22%20height=%2228%22%20viewBox=%220%200%2024%2024%22%3E%3Cpath%20fill=%22%23FFF%22%20stroke=%22%2300FFFFFF%22%20stroke-width=%221%22%20stroke-linejoin=%22round%22%20d=%22M10%2011V8.99c0-.88.59-1.64%201.44-1.86h.05A1.99%201.99%200%200%201%2014%209.05V12v-2c0-.88.6-1.65%201.46-1.87h.05A1.98%201.98%200%200%201%2018%2010.06V13v-1.94a2%202%200%200%201%201.51-1.94h0A2%202%200%200%201%2022%2011.06V14c0%20.6-.08%201.27-.21%201.97a7.96%207.96%200%200%201-7.55%206.48%2054.98%2054.98%200%200%201-4.48%200%207.96%207.96%200%200%201-7.55-6.48C2.08%2015.27%202%2014.59%202%2014v-1.49c0-1.11.9-2.01%202.01-2.01h0a2%202%200%200%201%202.01%202.03l-.01.97v-10c0-1.1.9-2%202-2h0a2%202%200%200%201%202%202V11Z%22%3E%3C/path%3E%3C/svg%3E') 16 16, auto;
} */
